/*_________________________________________________Shop page____________________________________________*/
/*header*/
.shop-header h1{
    font-size: 60px;
}
@media(max-width:576px){
    .shop-header h1{
        font-size: 30px;
    }
}
/*side menu*/
/*collection*/
.collection ul li a{
    color: #6c6c74;
}
.collection ul li a:hover{
    color:black;
}
/*colors*/ .colors .color-options span{
    width: 20px;
    height: 20px;
    border:none;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
} .colors .color-options span:nth-of-type(1){
    background-color: black;
    border: black 1px solid;
} .colors .color-options span:nth-of-type(2){
    background-color: blue;
    border: blue 1px solid;
} .colors .color-options span:nth-of-type(3){
    background-color: green;
    border: green 1px solid;
} .colors .color-options span:nth-of-type(4){
    background-color: orange;
    border: orange 1px solid;
} .colors .color-options span:nth-of-type(5){
    background-color: pink;
    border: pink 1px solid;
} .colors .color-options span:nth-of-type(6){
    background-color: silver;
    border: silver 1px solid;
} .colors .color-options span:nth-of-type(7){
    background-color: white;
    border: silver 1px solid;
} .colors .color-options span:hover{
    border: white 1px solid !important;
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
} .colors .color-options span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: transparent 1px solid;
    border-radius: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
} .colors .color-options span:hover::before{
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
} .colors .color-options span:nth-of-type(1):hover::before{
    border: black 2px solid;
} .colors .color-options span:nth-of-type(2):hover::before{
    border: blue 2px solid;
} .colors .color-options span:nth-of-type(3):hover::before{
    border: green 2px solid;
} .colors .color-options span:nth-of-type(4):hover::before{
    border: orange 2px solid;
} .colors .color-options span:nth-of-type(5):hover::before{
    border: pink 2px solid;
} .colors .color-options span:nth-of-type(6):hover::before{
    border: silver 2px solid;
} .colors .color-options span:nth-of-type(7):hover::before{
    border: silver 2px solid;
}
/*price*/
.price .circle{
    width: 15px;
    height: 15px;
    border: black 3px solid;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
}
.price .straight-line{
    width: 90%;
    height: 3px;
    background-color: black;
}
/*brands*/
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 0px;
    background-clip: content-box;
    border: 1px solid silver;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
.selection input[type="checkbox"]:checked,.selection input[type="checkbox"]:hover {
    background-color: black;
    padding: 4px;
    border: black 1px solid;
}
.selection label{
    cursor: pointer;
}
.no-selection .no-select{
    cursor: not-allowed !important;
    color:#8f8f8f;
    opacity: 0.65;
}
/*tags*/
.tag .four-buttons a{
    color:#6c6c74;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.tag .four-buttons a:hover{
    background-color: #111228;
    color: white;
}
/*popular products*/
.pobular-product .card .card-body{
    background-color: white !important;
}
@media(max-width:1200px){
    .side-menu .none{
        display: none !important;
    }
}
/*head of the shop product*/
.side-menu .head ul li button{
    width: 32px;
}
.side-menu .head ul li button>div{
    background-color: black;
    width: 2px;
    height: 10px;
}
.nav-item .nav-link.active.s{
    background-color: #eeeeee;
}
.side-menu .head .filter{
    background-color: #111228;
    font-size: 15px;
}
@media(max-width:1200px) {
    .side-menu .head .filter{
        display: flex !important;
    }
}
/*filter menu*/
.left-menu{
    background-color: white !important;
    overflow-y:scroll ;
}
@media(max-width:776px){
    .none2{
        display: none;
    }
}
@media(max-width:576px){
  .side-menu .head {
    flex-direction: column !important;
  }
}
@media(max-width:393px){
    .side-menu .head .head-left {
      flex-direction: column !important;
    }
  }